<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite">
    <test name="Test">
        <groups>
            <run>
                <include name="functest" />
            </run>
        </groups>
        <classes>
            <class name="com.hexaware.testscripts.ProfileInformation.ProfileInformationScript"></class>
        </classes>
    </test>
</suite>

